{% extends 'nav.html' %}
{% block nav %}
<h1>Product</h1>
<div class="p-5 m-3 row">
{% for i in data %}
    <!-- <p>{{i}}</p> -->
    <div class="card shadow mb-4 me-1" style="width: 18rem;">
        <img src="{{i.image.url}}" class="card-img-top" alt="pro-img" height="200px">
        <div class="card-body">
          <h5 class="card-title">{{i.title}}</h5>
          <p class="card-text">Rs:{{i.price}}</p>
          <a href="{% url 'pdet' i.id %}" class="stretched-link"></a>
        </div>
      </div>
{% endfor %}
</div>
{% endblock nav%}